.Header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  height: 50px;

  &__icon {
    width: 50px;
    height: 50px;
    background-image: url('../../../public/icons/chat-icon.svg');
    background-size: cover;
  }

  &__title {
    margin: 0;
  }

  &__logout {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}